//Font Import
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

// Colors

// Primary
$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkDesaturatedCyan: hsl(167, 40%, 24%);
$darkBlue: hsl(198, 62%, 26%);
$darkModerateCyan: hsl(168, 34%, 41%);

// Neutral
$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$veryDarkGrayishBlue: hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

$fontSize: 1.125rem;
$headerFont: "Fraunces", serif;
$bodyFont: "Barlow", sans-serif;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $bodyFont;
	font-weight: 600;
	color: $white;
}

header {
	background-image: url(/images/mobile/image-header.jpg);
	height: 600px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
	position: relative;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px;

		.burger {
			cursor: pointer;

			span {
				display: block;
				width: 25px;
				height: 2px;
				margin: 6px 0;
				background-color: $white;
			}
		}

		.logo-container {
			height: 28px;
			img {
				height: 100%;
			}
		}
	}

	h1 {
		font-family: $headerFont;
		font-weight: 700;
		font-size: 2.5rem;
		text-transform: uppercase;
		margin-top: 60px;
	}

	.arrow {
		margin-top: 70px;
	}
}

.transform-image {
	height: 350px;
	background-image: url(/images/mobile/image-transform.jpg);
	background-position: center center;
	background-size: cover;
	background-size: 100% 100%;
}

.stand-out {
	height: 350px;
	background-image: url(/images/mobile/image-stand-out.jpg);
	background-position: center center;
	background-size: cover;
	background-size: 100% 100%;
}

.graphic-design {
	height: 500px;
	background-image: url(/images/mobile/image-graphic-design.jpg);
	background-position: center center;
	background-size: cover;
	background-size: 100% 100%;
}

.photography {
	height: 500px;
	background-image: url(/images/mobile/image-photography.jpg);
	background-position: center center;
	background-size: cover;
	background-size: 100% 100%;
}

.transform {
	text-align: center;
	padding: 20px;
	h2 {
		font-size: 1.5rem;
		font-family: $headerFont;
		font-weight: 900;
		color: $veryDarkDesaturatedBlue;
	}
	p {
		font-size: 1rem;
		line-height: 1.6;
		color: $darkGrayishBlue;
		margin: 25px 0 42px;
	}
}

.graphic {
	text-align: center;
	padding: 20px;
	position: absolute;
	transform: translateY(-200px);
	color: $darkDesaturatedCyan;
	h2 {
		font-size: 1.5rem;
		font-family: $headerFont;
		font-weight: 900;
	}
	p {
		font-size: 1rem;
		line-height: 1.6;
		margin: 25px 0 42px;
	}
}

.blue {
	color: $darkBlue !important;
}

section {
	text-align: center;
	margin-bottom: 40px;

	a {
		text-decoration: none;
		color: $veryDarkDesaturatedBlue;
		text-transform: uppercase;
		font-family: $headerFont;
		font-size: 1rem;
		letter-spacing: 1px;
		font-weight: 900;
	}

	.yellow {
		border-bottom: 5px solid $yellow;
	}

	.orange {
		border-bottom: 5px solid $softRed;
	}
}

.d-none {
	display: none !important;
}

.d-block {
	display: block !important;
}

.testimonials {
	color: $veryDarkGrayishBlue;
	text-align: center;
	padding: 50px 0;

	h3 {
		font-family: $headerFont;
		color: $grayishBlue;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		padding-bottom: 50px;
	}

	img {
		height: 50px;
		border-radius: 50%;
	}

	p {
		padding-top: 20px;
		line-height: 2em;
	}

	.author {
		font-family: $headerFont;
		color: $veryDarkDesaturatedBlue;
		font-weight: 900;
		display: block;
		padding: 20px 0px 50px;

		span {
			padding-top: 10px;
			font-size: 0.8rem;
			font-family: $bodyFont;
			color: $grayishBlue;
		}
	}
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0;
	.milk {
		height: 200px;
		width: 50%;
		background-image: url(/images/mobile/image-gallery-milkbottles.jpg);
		background-position: center center;
		background-size: cover;
		background-size: 100% 100%;
	}

	.orange {
		height: 200px;
		width: 50%;
		background-image: url(/images/mobile/image-gallery-orange.jpg);
		background-position: center center;
		background-size: cover;
		background-size: 100% 100%;
	}

	.cone {
		height: 200px;
		width: 50%;
		background-image: url(/images/mobile/image-gallery-cone.jpg);
		background-position: center center;
		background-size: cover;
		background-size: 100% 100%;
	}

	.sugar {
		height: 200px;
		width: 50%;
		background-image: url(/images/mobile/image-gallery-sugar-cubes.jpg);
		background-position: center center;
		background-size: cover;
		background-size: 100% 100%;
	}
}

footer {
	background-color: lightcyan;
	text-align: center;

	.logo-footer {
		padding: 50px 20px;
	}

	ul {
		display: flex;
		justify-content: space-around;
		padding-bottom: 80px;

		li {
			list-style: none;

			a {
				text-decoration: none;
				color: $darkModerateCyan;
			}
		}
	}

	.social-media {
		padding-bottom: 70px;

		img {
			padding: 0 15px;
		}
	}
}

.menu {
	position: absolute;
	background-color: $white;
	width: 250px;
	height: 250px;
	top: 80px;
	right: 20px;

	ul {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 100%;
		padding: 10px 0;

		.contact {
			text-transform: uppercase;
			a {
				font-family: $headerFont;
				font-weight: 700;
				padding: 15px 25px;
				color: $veryDarkDesaturatedBlue;
				background-color: $yellow;
				border-radius: 30px;
			}
		}

		li {
			list-style: none;
			cursor: pointer;

			a {
				text-decoration: none;
				color: $grayishBlue;
			}
		}
	}
}

.menu::before {
	content: "";
	border-bottom: 20px solid $white;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	position: absolute;
	top: -10px;
	right: -10px;
	transform: rotate(-90deg);
}

@media (min-width: 600px) {
	header {
		background-image: url(/images/desktop/image-header.jpg);

		.burger {
			display: none;
		}

		.desktop-menu {
			display: block !important;

			ul {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				padding: 10px 0;

				.desktop-contact {
					text-transform: uppercase;
					a {
						font-family: $headerFont;
						font-weight: 700;
						padding: 15px 25px;
						color: $veryDarkDesaturatedBlue;
						background-color: $white;
						border-radius: 30px;
					}
				}

				li {
					list-style: none;
					cursor: pointer;
					padding: 0px 20px;
					a {
						text-decoration: none;
						color: $white;
					}
				}
			}
		}
	}

	section {
		margin-bottom: 0px !important;
	}

	.stand-out {
		background-image: url(/images/desktop/image-stand-out.jpg);
	}

	.graphic-design {
		background-image: url(/images/desktop/image-graphic-design.jpg);
	}

	.photography {
		background-image: url(/images/desktop/image-photography.jpg);
	}

	.transform-container {
		display: flex;
		flex-direction: row-reverse;
		align-content: center;

		.transform {
			flex-basis: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 0 12.5%;
			text-align: left;

			h2,
			p,
			a {
				align-self: flex-start;
			}

			h2 {
				font-size: 2.5rem;
			}
		}

		.transform-image {
			display: block;
			flex-basis: 50%;
			height: 600px;
			background-image: url(/images/desktop/image-transform.jpg);
		}
	}

	.stand-out-container {
		display: flex;
		align-content: center;

		.transform {
			flex-basis: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 0 12.5%;
			text-align: left;

			h2,
			p,
			a {
				align-self: flex-start;
			}

			h2 {
				font-size: 2.5rem;
			}
		}

		.stand-out {
			display: block;
			flex-basis: 50%;
			height: 600px;
			background-image: url(/images/desktop/image-stand-out.jpg);
		}
	}

	.design-container {
		display: flex;
		align-content: center;

		.first {
			flex-basis: 50%;
			position: relative;

			.graphic-design {
				display: block;
				background-image: url(/images/desktop/image-graphic-design.jpg);
				height: 600px;
			}
		}

		.second {
			flex-basis: 50%;
			position: relative;

			.photography {
				display: block;
				background-image: url(/images/desktop/image-photography.jpg);
				height: 600px;
			}
		}

		.graphic {
			position: absolute;
			padding: 0 25%;
		}
	}

	.testimonials {
		padding-top: 70px;

		.testimonial-container {
			display: flex;
			align-items: center;
			justify-content: space-around;
			padding: 20px 50px;
		}

		article {
			padding: 0 50px;
		}

		.author {
			padding-top: 50px;
		}
	}

	.gallery {
		flex-wrap: nowrap;
		.milk {
			width: 25%;
			background-image: url(/images/desktop/image-gallery-milkbottles.jpg);
			height: 400px;
		}

		.orange {
			width: 25%;
			background-image: url(/images/desktop/image-gallery-orange.jpg);
			height: 400px;
		}

		.cone {
			width: 25%;
			background-image: url(/images/desktop/image-gallery-cone.jpg);
			height: 400px;
		}

		.sugar {
			width: 25%;
			background-image: url(/images/desktop/image-gallery-sugarcubes.jpg);
			height: 400px;
		}
	}

	footer {
		ul {
			justify-content: center;

			li {
				padding: 0 25px;
			}
		}
	}
}
